<div class="font">
    <div class="div_m">
        {{text.username}}
        <div *ngIf="loginValue.errors?.['required'] && this.loginError">
            {{text.name_req}}
        </div> 
        <br>
        <input  [(ngModel)]="login"
                class="inp" 
                type="text" 
                required
                #loginValue="ngModel">
    </div>
    <div class="div_m">
        {{text.pass}}
        <div *ngIf="passwordValue.errors?.['required'] && this.passwordError">
            {{text.pass_req}}
        </div> 
        <br>
        <input  [(ngModel)]="password"
                class="inp" 
                type="password" 
                required 
                #passwordValue="ngModel">
    </div>
    <div class="div_m">
        <button (click)="logIn()" class="b_m">{{text.log_in}}</button>
    </div>
</div>
