<div class="fontSize">
    <div class="width">
        {{text.username}}
        <div *ngIf="loginValue.errors?.['required'] && this.loginError">
            {{text.name_req}}
        </div> 
        <br>
        <input  [(ngModel)]="login"
                class="widthInpDel" 
                type="text" 
                required
                #loginValue="ngModel">
    </div>
    <div class="width">
        {{text.pass}}
        <div *ngIf="passwordValue.errors?.['required'] && this.passwordError">
            {{text.pass_req}}
        </div> 
        <br>
        <input  [(ngModel)]="password"
                class="widthInpDel" 
                type="password" 
                required 
                #passwordValue="ngModel">
    </div>
    <div class="width">
        <button (click)="logIn()">{{text.log_in}}</button>
    </div>
</div>
