<div class="font">
    <div class="width">
        {{text.name}}
        <div *ngIf="name_user.errors?.['required'] && this.nameError">
            {{text.name_req}}
        </div>
        <br>
        <input  class="width_i"
                [(ngModel)]="name"
                type="text" 
                required 
                #name_user="ngModel">
    </div>
    <div class="width">
        {{text.user}}
        <div *ngIf="loginValue.errors?.['required'] && this.loginError">
            {{text.user_req}}
        </div>
        <br>
        <input  class="width_i"
                [(ngModel)]="login"
                type="text" 
                required 
                #loginValue="ngModel">
    </div>
    <div class="width">
        {{text.pass}}
        <div *ngIf="passwordValue.errors?.['required'] && this.passwordError">
            {{text.pass_req}}
        </div>
        <br>
        <input  class="width_i"
                [(ngModel)]="password" 
                type="password" 
                required 
                #passwordValue="ngModel">
    </div>
    <div class="width">
        <button (click)="createNewUser()" class="m_left">{{text.sign}}</button>
    </div>
</div>
