html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fontSize {
    font-size: 20px;
}

.topLine {
    text-align: left; padding: 10px;
}
  
.marginTopLine {
    margin-right: 40px;
}

.width {
    width: 20%; margin-left: 40%; margin-top: 10px
}

.widthInpDel {
    width: 100%;
}

.border {
    border: 1px solid black;
}

.padingTop {
    padding-top: 10px;
}