<div *ngIf="!this.logged" class="font">
    {{text.needlogin}}
</div>

<div *ngIf="this.logged">
    <div class="pad font">
        {{text.cwith}}
        <button>{{text.modal}}</button> 
        <button>{{text.reactive}}</button>
    </div>
    
    <div class="pad">
        <table class="font border">
            <tr>
                <th class="border">
                    {{text.task}}    
                    <button (click)="sortTasks('Task')">{{sorted[0]}}</button>
                </th>
                <th class="border">
                    {{text.priority}}    
                    <button (click)="sortTasks('Priority')">{{sorted[1]}}</button>
                </th>
                <th class="border">
                    {{text.time}}    
                    <button (click)="sortTasks('Time')">{{sorted[2]}}</button>
                </th>
                <th class="border">{{text.edit}}</th>
                <th class="border">{{text.delete}}</th>
            </tr>
            <tr *ngFor="let item of tasks; index as i;">
                <td class="border">{{item.description}}</td>
                <td class="border">{{item.priority}}</td>
                <td class="border">{{item.time}}</td>
                <td class="border">
                    <button (click)="changeModal(item, i)">{{text.modal}}</button>
                    <button (click)="changeReactive(item, i)">{{text.reactive}}</button>
                </td>
                <td class="border center">
                    <button class="width" (click)="deleteItem(i)">{{text.del}}</button>
                </td>
            </tr>
        </table>
    </div>
</div>
