<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div *ngIf="!this.logged" class="font">
    {{text.needlogin}}
</div>

<div class="mat-app-background basic-container">
  <app-create-modal>loading</app-create-modal>
</div>

<div *ngIf="this.logged">
    Name: {{name}}
    Login: {{login}}
    Tasks: {{t}}
    <div *ngIf="this.name != ''" class="font">
        {{text.welcome}} {{name}}
    </div>
    <div class="pad font">
        {{text.cwith}}
        <button>{{text.modal}}</button> 
        <button (click)="this.createVisible=!this.createVisible">{{text.reactive}}</button>
    </div>
    <div *ngIf="this.createVisible" class="pad font">
        <form [formGroup]="form_create" (submit)="createReactive()">
            <table>
                <tr>
                    <td>{{text.task}}</td>
                    <td><input formControlName="description"/></td>
                </tr>
                <tr>
                    <td>{{text.priority}}</td>
                    <td>
                        <select formControlName="priority" #prio name="" id="">
                            <option *ngFor="let opt of this.options" value="{{opt}}">
                                {{opt}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{text.time}}</td>
                    <td><input formControlName="time"/></td>
                </tr>
                <tr *ngIf="this.form_create.valid">
                    <td></td>
                    <td><button type="submit">{{text.submit}}</button></td>
                </tr>
            </table>
        </form>      
    </div>

    <div *ngIf="changeVisible" class="pad font">
        <form [formGroup]="form_change" (submit)="changeReactive(toBeChanged)">
            <table>
                <tr>
                    <td>{{text.task}}</td>
                    <td><input formControlName="description"/></td>
                </tr>
                <tr>
                    <td>{{text.priority}}</td>
                    <td>
                        <select formControlName="priority" #prio name="" id="">
                            <option *ngFor="let opt of this.options" value="{{opt}}">
                                {{opt}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{text.time}}</td>
                    <td><input formControlName="time"/></td>
                </tr>
                <tr *ngIf="form_change.valid">
                    <td></td>
                    <td><button type="submit">{{text.submit}}</button></td>
                </tr>
            </table>
        </form>      
    </div>
    
    <div class="pad">
        <table class="font border">
            <tr>
                <th class="border">
                    {{text.task}}    
                    <button (click)="sortTasks('Task')">{{sorted[0]}}</button>
                </th>
                <th class="border">
                    {{text.priority}}    
                    <button (click)="sortTasks('Priority')">{{sorted[1]}}</button>
                </th>
                <th class="border">
                    {{text.time}}    
                    <button (click)="sortTasks('Time')">{{sorted[2]}}</button>
                </th>
                <th class="border">{{text.tags}}</th>
                <th class="border">{{text.edit}}</th>
                <th class="border">{{text.delete}}</th>
            </tr>
            <tr *ngFor="let item of tasks; index as i;">
                <td class="border">{{item.description}}</td>
                <td class="border">
                    {{item.priority}}
                    <button (click)="changePriority(i, prio.value)">+</button>
                    <select #prio name="" id="">
                        <option default>{{text.tag_def_opt}}</option>
                        <option *ngFor="let opt of this.options" value="{{opt}}">
                            {{opt}}
                        </option>
                    </select>
                </td>
                <td class="border">{{item.time}}</td>
                <td class="border">
                    <button (click)="addTag(i, opt.value)">+</button>
                    <select #opt name="" id="">
                        <option default>{{text.tag_def_opt}}</option>
                        <option *ngFor="let tag of this.tags" value="{{tag}}">
                            {{tag}}
                        </option>
                    </select>
                    <div *ngFor="let tag of item.tags; index as j">
                        {{tag}}
                        <button (click)="deleteTag(i, j)">-</button>
                    </div>
                </td>
                <td class="border">
                    <button (click)="changeModal(i)">{{text.modal}}</button>
                    <button (click)="changeVisible=!this.changeVisible;
                                     toBeChanged=changeVisible ? i : -1">{{text.reactive}}</button>
                </td>
                <td class="border center">
                    <button class="width" (click)="deleteItem(i)">{{text.del}}</button>
                </td>
            </tr>
        </table>
    </div>
</div>


